<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SNI Test Suite">
	<test name="SNI Test">
		<classes>


			<class name="testPages.FacultyLogInThroughInstitute_Onboarding_Page_Test">
				<methods>
					<include name="loginInstituteAfterOnboardRegistration" />
					<exclude name="login" />
				</methods>
			</class>


		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
